{
    "openapi": "3.0.0",
    "info": {
        "title": "Clash of Wisdom",
        "version": "1.0.1",
        "description": "Clash of Wisdom is a PvP trivia game created by Ravio Games. This documentation provides information only for developers who are building functionality in iOS, Android and other channels.",
        "contact": {
            "name": "Raviosoft, A.Ş.",
            "url": "www.raviosoft.com",
            "email": "info@raviosoft.com"
        },
        "termsOfService": "https://www.raviosoft.com/legal/terms.html"
    },
    "servers": [
        {
            "url": "https://rest.api.sta.clashofwisdom.com/v1",
            "description": "Staging Environment",
            "variables": {
                "url": {
                    "default": "https://rest.api.sta.clashofwisdom.com/v1"
                }
            }
        },
        {
            "url": "https://rest.api.dev.clashofwisdom.com/v1",
            "description": "Development Environment",
            "variables": {
                "url": {
                    "default": "https://rest.api.dev.clashofwisdom.com/v1"
                }
            }
        },
        {
            "url": "https://rest.api.clashofwisdom.com/v1",
            "description": "Prod Environment",
            "variables": {
                "url": {
                    "default": "https://rest.api.clashofwisdom.com/v1"
                }
            }
        }
    ],
    "paths": {
        "/gameplays/finalize": {
            "post": {
                "summary": "Finalize Played Games",
                "operationId": "post-gameplays-finalize",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200.0000.NoResult"
                    },
                    "401": {
                        "$ref": "#/components/responses/401.Generic"
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/GameplayProgress"
                                }
                            },
                            "examples": {
                                "Example-1": {
                                    "value": [
                                        {
                                            "player": {
                                                "uuid": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                "alias": "tsemmui",
                                                "avatar": "/cdn/avatar/tsemmui-avatar.png",
                                                "levelSummary": {
                                                    "currentLevel": 0,
                                                    "accumulatedPoints": 14,
                                                    "pointsToNextLevel": 500
                                                },
                                                "playerStanding": {
                                                    "id": 342,
                                                    "year": 2021,
                                                    "month": 3,
                                                    "week": 34,
                                                    "division": 3,
                                                    "group": 0,
                                                    "league": 2,
                                                    "title": "Elmas II Ligi - 52. Hafta",
                                                    "standing": {
                                                        "player": {
                                                            "uuid": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                            "alias": "tsemmui",
                                                            "avatar": "/cdn/avatar/tsemmui-avatar.png"
                                                        },
                                                        "currentRank": 1,
                                                        "accumulatedPoints": 54555,
                                                        "accumlatedScore": 0,
                                                        "zoneCode": "promotion",
                                                        "totalPlayers": 40,
                                                        "rewardInfo": {
                                                            "coins": 10,
                                                            "experience": 50,
                                                            "powerups": {
                                                                "life": 2,
                                                                "insurance": 18,
                                                                "joker": 139,
                                                                "fiftyFifty": 5,
                                                                "majority": 12,
                                                                "immortality": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                },
                                                                "immunity": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                }
                                                            },
                                                            "score": 5
                                                        }
                                                    },
                                                    "weekTitle": "12. Hafta",
                                                    "endsAt": "2019-08-24T14:15:22Z",
                                                    "handle": "gold1"
                                                },
                                                "powerUps": {
                                                    "life": 6,
                                                    "joker": 139,
                                                    "fiftyFifty": 5,
                                                    "majority": 12
                                                },
                                                "coins": 1259,
                                                "categoryStats": [
                                                    {
                                                        "tag": "history",
                                                        "successRate": 0.24,
                                                        "correct": 129,
                                                        "incorrect": 55
                                                    }
                                                ],
                                                "appleId": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                "googleId": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f"
                                            },
                                            "lastAnsweredQuestion": 3,
                                            "correctAnswers": 3,
                                            "powerUpsUsed": {
                                                "life": 5,
                                                "joker": 139,
                                                "fiftyFifty": 5,
                                                "majority": 12
                                            },
                                            "status": "s",
                                            "coinsAccumulated": 45,
                                            "coinsInsured": 30,
                                            "lastInsuranceCheckpoint": 8,
                                            "startedAt": "2019-08-24T14:15:22Z",
                                            "updatedAt": "2019-08-24T14:15:22Z",
                                            "winStatus": "w",
                                            "points": 0,
                                            "score": 0,
                                            "powerUpsEarned": {
                                                "life": 5,
                                                "joker": 139,
                                                "fiftyFifty": 5,
                                                "majority": 12
                                            },
                                            "experienceEarned": 10,
                                            "game": 213321,
                                            "playerAnswers": [
                                                {
                                                    "id": null,
                                                    "status": "a",
                                                    "questionIdx": 0,
                                                    "selectedChoice": "b",
                                                    "isCorrect": true,
                                                    "powerUpsUsed": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "question": {
                                                        "id": 3215,
                                                        "question": "Which actor did not play the role \"Bruce Wayne\" in any of the Batman movies?",
                                                        "bannerImage": "/cdn/bannerImage.jpg",
                                                        "choices": [
                                                            {
                                                                "label": "Michael Keaton",
                                                                "isCorrect": false,
                                                                "answerCount": 342
                                                            },
                                                            {
                                                                "label": "Christopher Nolan",
                                                                "isCorrect": false,
                                                                "answerCount": 22
                                                            },
                                                            {
                                                                "label": "Bruce Willis",
                                                                "isCorrect": true,
                                                                "answerCount": 22333
                                                            },
                                                            {
                                                                "label": "Val Kilmer",
                                                                "isCorrect": false,
                                                                "answerCount": 654
                                                            }
                                                        ],
                                                        "difficultyLevel": 2,
                                                        "duration": 20,
                                                        "rewards": {
                                                            "coins": 10,
                                                            "experience": 50,
                                                            "powerups": {
                                                                "life": 2,
                                                                "insurance": 18,
                                                                "joker": 139,
                                                                "fiftyFifty": 5,
                                                                "majority": 12,
                                                                "immortality": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                },
                                                                "immunity": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                }
                                                            },
                                                            "score": 5
                                                        },
                                                        "tag": "history"
                                                    },
                                                    "powerUpsEarned": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "coinsEarned": 20,
                                                    "scoreEarned": 1,
                                                    "timeSpent": 16,
                                                    "experienceEarned": 1,
                                                    "askedAt": "2019-08-24T14:15:22Z",
                                                    "answeredAt": "2019-08-24T14:15:22Z"
                                                },
                                                {
                                                    "id": null,
                                                    "status": "a",
                                                    "questionIdx": 1,
                                                    "selectedChoice": "c",
                                                    "isCorrect": true,
                                                    "powerUpsUsed": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "question": {
                                                        "id": 3215,
                                                        "question": "Which actor did not play the role \"Bruce Wayne\" in any of the Batman movies?",
                                                        "bannerImage": "/cdn/bannerImage.jpg",
                                                        "choices": [
                                                            {
                                                                "label": "Christopher Nolan",
                                                                "isCorrect": true,
                                                                "answerCount": 1231
                                                            },
                                                            {
                                                                "label": "Bruce Willis",
                                                                "isCorrect": false,
                                                                "answerCount": 22
                                                            }
                                                        ],
                                                        "difficultyLevel": 2,
                                                        "duration": 20,
                                                        "rewards": {
                                                            "coins": 10,
                                                            "experience": 50,
                                                            "powerups": {
                                                                "life": 2,
                                                                "insurance": 18,
                                                                "joker": 139,
                                                                "fiftyFifty": 5,
                                                                "majority": 12,
                                                                "immortality": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                },
                                                                "immunity": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                }
                                                            },
                                                            "score": 5
                                                        },
                                                        "tag": "history"
                                                    },
                                                    "powerUpsEarned": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "coinsEarned": 20,
                                                    "scoreEarned": 2,
                                                    "timeSpent": 11,
                                                    "experienceEarned": 2,
                                                    "askedAt": "2019-08-24T14:15:22Z",
                                                    "answeredAt": "2019-08-24T14:15:22Z"
                                                },
                                                {
                                                    "id": null,
                                                    "status": "a",
                                                    "questionIdx": 0,
                                                    "selectedChoice": "b",
                                                    "isCorrect": false,
                                                    "powerUpsUsed": {
                                                        "life": 0,
                                                        "joker": 1,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "question": {
                                                        "id": 3215,
                                                        "question": "Which actor did not play the role \"Bruce Wayne\" in any of the Batman movies?",
                                                        "bannerImage": "/cdn/bannerImage.jpg",
                                                        "choices": [
                                                            {
                                                                "label": "Christopher Nolan",
                                                                "isCorrect": true,
                                                                "answerCount": 4441
                                                            },
                                                            {
                                                                "label": "Nruce Willis",
                                                                "isCorrect": false,
                                                                "answerCount": 11
                                                            }
                                                        ],
                                                        "difficultyLevel": 2,
                                                        "duration": 20,
                                                        "rewards": {
                                                            "coins": 10,
                                                            "experience": 50,
                                                            "powerups": {
                                                                "life": 2,
                                                                "insurance": 18,
                                                                "joker": 139,
                                                                "fiftyFifty": 5,
                                                                "majority": 12,
                                                                "immortality": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                },
                                                                "immunity": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                }
                                                            },
                                                            "score": 5
                                                        },
                                                        "tag": "history"
                                                    },
                                                    "powerUpsEarned": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "coinsEarned": 0,
                                                    "scoreEarned": 0,
                                                    "timeSpent": 5,
                                                    "experienceEarned": 3,
                                                    "askedAt": "2019-08-24T14:15:22Z",
                                                    "answeredAt": "2019-08-24T14:15:22Z"
                                                },
                                                {
                                                    "id": null,
                                                    "status": "e",
                                                    "questionIdx": 0,
                                                    "selectedChoice": "a",
                                                    "isCorrect": false,
                                                    "powerUpsUsed": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "question": {
                                                        "id": 3215,
                                                        "question": "Which actor did not play the role \"Bruce Wayne\" in any of the Batman movies?",
                                                        "bannerImage": "/cdn/bannerImage.jpg",
                                                        "choices": [
                                                            {
                                                                "label": "Christopher Nolan",
                                                                "isCorrect": true,
                                                                "answerCount": 4322
                                                            },
                                                            {
                                                                "label": "Bruce Willis",
                                                                "isCorrect": false,
                                                                "answerCount": 42
                                                            }
                                                        ],
                                                        "difficultyLevel": 2,
                                                        "duration": 20,
                                                        "rewards": {
                                                            "coins": 10,
                                                            "experience": 50,
                                                            "powerups": {
                                                                "life": 2,
                                                                "insurance": 18,
                                                                "joker": 139,
                                                                "fiftyFifty": 5,
                                                                "majority": 12,
                                                                "immortality": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                },
                                                                "immunity": {
                                                                    "isActive": true,
                                                                    "validUntil": "2019-08-24T14:15:22Z"
                                                                }
                                                            },
                                                            "score": 5
                                                        },
                                                        "tag": "history"
                                                    },
                                                    "powerUpsEarned": {
                                                        "life": 0,
                                                        "joker": 0,
                                                        "fiftyFifty": 0,
                                                        "majority": 0
                                                    },
                                                    "coinsEarned": 0,
                                                    "timeSpent": 20,
                                                    "scoreEarned": 0,
                                                    "experienceEarned": 4,
                                                    "askedAt": "2019-08-24T14:15:22Z",
                                                    "answeredAt": "2019-08-24T14:15:22Z"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "description": "You must supply GameplayProgress model: https://docs.bonetwork.co/bilgisavasi/gameplayprogress."
                },
                "description": "Use this endpoint to send the final score of one or more ended games to the server.\n\n**Flow Diagram**:\n![Flow Diagram](https://s3.eu-central-1.amazonaws.com/docs.bonetwork.co/apps/bilgisavasi/openapi/flows/get.gameplays.finalize.png)",
                "tags": [
                    "solo-gameplay"
                ]
            }
        },
        "/gameplays/load/{gameType}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "solo"
                        ],
                        "example": "solo"
                    },
                    "name": "gameType",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Retrieve Multiple Solo Games",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200.0000.GameList"
                    },
                    "401": {
                        "$ref": "#/components/responses/401.Generic"
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "operationId": "get-games-gameType",
                "description": "Use this endpoint to start a game for player. If you provide a count that is greater than 1 then you can get more games at once and use them as a precache to speed up new game starting process.\n\n!!! NOTE: Currently only std10 game type is accepted.",
                "security": [
                    {
                        "X-Session-Token": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "example": 1
                        },
                        "in": "query",
                        "name": "count",
                        "description": "Number of items to be returned. No more than 50 items can be returned at one query.\n\n**Example:**\n?count=10"
                    }
                ],
                "tags": [
                    "solo-gameplay"
                ]
            }
        },
        "/gameplay/result/{gameplayId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "integer",
                        "example": 23234
                    },
                    "name": "gameplayId",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Get Result of a Gameplay",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/200.0000.PvpResult"
                    },
                    "401": {
                        "description": "This response is returned for all unauthorized access attempts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                },
                                "examples": {
                                    "Example-401.0001": {
                                        "value": {
                                            "result": {
                                                "pagination": {
                                                    "isCircular": true,
                                                    "prevLink": null,
                                                    "nextLink": null,
                                                    "lastLink": null,
                                                    "firstLink": null,
                                                    "totalItems": 1,
                                                    "itemsPerPage": 50,
                                                    "pageCount": 1,
                                                    "currentPage": 1
                                                },
                                                "set": "null"
                                            },
                                            "sessionToken": null,
                                            "code": "401.0001",
                                            "message": "Your request has been successfully completed."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "operationId": "get-gameplay-finalize-gameplayId",
                "description": "Use this endpoint to check the end result of a game play. This endpoint must be used if game result is not provided after calling POST :: /gameplay/progress/init endpoint.",
                "security": [
                    {
                        "X-Session-Token": []
                    }
                ],
                "tags": [
                    "pvp-gameplay"
                ]
            }
        },
        "/gameplay/init/{gameType}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "enum": [
                            "pvp"
                        ],
                        "example": "pvp"
                    },
                    "name": "gameType",
                    "in": "path",
                    "required": true
                }
            ],
            "get": {
                "summary": "Match with PVP Opponent",
                "responses": {
                    "200": {
                        "description": "Returns \"match request id\".",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                },
                                "examples": {
                                    "Example-200.0000": {
                                        "value": {
                                            "result": {
                                                "set": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                "pagination": null
                                            },
                                            "sessionToken": null,
                                            "code": "200.0000",
                                            "message": "Your request has been successfully completed."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401.Generic"
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "operationId": "get-gameplay-init-gameType",
                "description": "Use this endpoint to request a PVP game \"match request id\". When this request reaches the server, the server creates a match request id and it returns this id as result set of the response. The request is queued and handled asynchronously. Therefore a second call is needed to be made with the request id provided from this endpoint to start the game play.",
                "security": [
                    {
                        "X-Session-Token": []
                    }
                ],
                "tags": [
                    "pvp-gameplay"
                ]
            }
        },
        "/gameplay/start/{requestId}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "description": "Match reqest id."
                }
            ],
            "get": {
                "summary": "Start a PVP Game",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                },
                                "examples": {
                                    "Example-200.0000": {
                                        "value": {
                                            "result": {
                                                "set": {
                                                    "gameplayProgressId": 324234,
                                                    "game": {
                                                        "id": 232,
                                                        "theme": null,
                                                        "difficultyLevel": 8,
                                                        "countQuestions": 10,
                                                        "fee": 0,
                                                        "maxRewards": {
                                                            "coins": 100,
                                                            "experience": 500,
                                                            "powerups": {
                                                                "life": 0,
                                                                "insurance": 0,
                                                                "joker": 0,
                                                                "fiftyFifty": 0,
                                                                "majority": 0,
                                                                "immortalityCount": 0,
                                                                "immunityCount": 0
                                                            },
                                                            "score": 3
                                                        },
                                                        "questions": [
                                                            {
                                                                "id": 3215,
                                                                "question": "Which actor did not play the role \"Bruce Wayne\" in any of the Batman movies?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 2,
                                                                "choices": [
                                                                    {
                                                                        "label": "Christopher Nolan",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Bruce Willis",
                                                                        "isCorrect": true,
                                                                        "answerCount": 4522
                                                                    },
                                                                    {
                                                                        "label": "Val Kilmer",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Michael Keaton",
                                                                        "isCorrect": false
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 981,
                                                                "question": "What two colors are in Turkish flag?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 2,
                                                                "choices": [
                                                                    {
                                                                        "label": "Red-Black",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Black-White",
                                                                        "isCorrect": false,
                                                                        "answerCount": 24
                                                                    },
                                                                    {
                                                                        "label": "Red-White",
                                                                        "isCorrect": true,
                                                                        "answerCount": 422
                                                                    },
                                                                    {
                                                                        "label": "Green-Purple",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 681,
                                                                "question": "Which actor played the original Terminator?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 3,
                                                                "choices": [
                                                                    {
                                                                        "label": "Arnold Schwarzenneger",
                                                                        "isCorrect": true,
                                                                        "answerCount": 5634
                                                                    },
                                                                    {
                                                                        "label": "Sylverster Stallone",
                                                                        "isCorrect": false,
                                                                        "answerCount": 14
                                                                    },
                                                                    {
                                                                        "label": "Danny DeVito",
                                                                        "isCorrect": false,
                                                                        "answerCount": 463
                                                                    },
                                                                    {
                                                                        "label": "Chris Hemsworth",
                                                                        "isCorrect": false,
                                                                        "answerCount": 1
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 6576,
                                                                "question": "Which profession did Arnold Schwarzenneger not do?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 6,
                                                                "choices": [
                                                                    {
                                                                        "label": "Actor",
                                                                        "isCorrect": false,
                                                                        "answerCount": 0
                                                                    },
                                                                    {
                                                                        "label": "Body Builder",
                                                                        "isCorrect": false,
                                                                        "answerCount": 54
                                                                    },
                                                                    {
                                                                        "label": "Politician",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Cook",
                                                                        "isCorrect": true,
                                                                        "answerCount": 5114
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 433,
                                                                "question": "Who is regarded as the founding father of the Republic of Turkiye?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 1,
                                                                "choices": [
                                                                    {
                                                                        "label": "Mustafa Kemal Atatürk",
                                                                        "isCorrect": true,
                                                                        "answerCount": 4122
                                                                    },
                                                                    {
                                                                        "label": "İsmet İnönü",
                                                                        "isCorrect": false,
                                                                        "answerCount": 63
                                                                    },
                                                                    {
                                                                        "label": "Kazım Karabekir",
                                                                        "isCorrect": false,
                                                                        "answerCount": 54
                                                                    },
                                                                    {
                                                                        "label": "Kenan Evren",
                                                                        "isCorrect": true,
                                                                        "answerCount": 4
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 31,
                                                                "question": "What color are the taxis in New York City?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 4,
                                                                "choices": [
                                                                    {
                                                                        "label": "Black",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Purple",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    },
                                                                    {
                                                                        "label": "Yellow",
                                                                        "isCorrect": true,
                                                                        "answerCount": 55
                                                                    },
                                                                    {
                                                                        "label": "Green",
                                                                        "isCorrect": false,
                                                                        "answerCount": 4
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 4322,
                                                                "question": "Who played Eva Peron in the movie Don'T Cry For Me Argentina?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 7,
                                                                "choices": [
                                                                    {
                                                                        "label": "Madonna",
                                                                        "isCorrect": true,
                                                                        "answerCount": 6634
                                                                    },
                                                                    {
                                                                        "label": "Eva Mendes",
                                                                        "isCorrect": false,
                                                                        "answerCount": 411
                                                                    },
                                                                    {
                                                                        "label": "Nicole Kidman",
                                                                        "isCorrect": false,
                                                                        "answerCount": 634
                                                                    },
                                                                    {
                                                                        "label": "Cate Blanchett",
                                                                        "isCorrect": false,
                                                                        "answerCount": 546
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 5321,
                                                                "question": "What does BMW stand for?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 6,
                                                                "choices": [
                                                                    {
                                                                        "label": "Best Motor Work",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "Binary Machine World",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "Bayerishe Motoren Werke",
                                                                        "isCorrect": true
                                                                    },
                                                                    {
                                                                        "label": "Beautiful Miraculous Women",
                                                                        "isCorrect": false
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 9966,
                                                                "question": "In which year did Covid-19 pandemic struck the entire world?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 2,
                                                                "choices": [
                                                                    {
                                                                        "label": "2015",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "2000",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "1990",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "2020",
                                                                        "isCorrect": true
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            },
                                                            {
                                                                "id": 2342,
                                                                "question": "Which of the following is not a mobile phone brand?",
                                                                "bannerImage": "null",
                                                                "difficultyLevel": 5,
                                                                "choices": [
                                                                    {
                                                                        "label": "LG",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "Citroen",
                                                                        "isCorrect": true
                                                                    },
                                                                    {
                                                                        "label": "Apple",
                                                                        "isCorrect": false
                                                                    },
                                                                    {
                                                                        "label": "OnePlus",
                                                                        "isCorrect": true
                                                                    }
                                                                ],
                                                                "duration": 20,
                                                                "rewards": {
                                                                    "coins": 10,
                                                                    "experience": 50,
                                                                    "powerups": {
                                                                        "life": 2,
                                                                        "insurance": 18,
                                                                        "joker": 139,
                                                                        "fiftyFifty": 5,
                                                                        "majority": 12,
                                                                        "immortality": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        },
                                                                        "immunity": {
                                                                            "isActive": true,
                                                                            "validUntil": "2019-08-24T14:15:22Z"
                                                                        }
                                                                    },
                                                                    "score": 5
                                                                },
                                                                "tag": "history"
                                                            }
                                                        ]
                                                    },
                                                    "opponent": {
                                                        "uuid": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                        "alias": "tsemmui",
                                                        "avatar": "/cdn/avatar/tsemmui-avatar.png",
                                                        "levelSummary": {
                                                            "currentLevel": 0,
                                                            "accumulatedPoints": 14,
                                                            "pointsToNextLevel": 500
                                                        },
                                                        "powerUps": {
                                                            "life": 18,
                                                            "joker": 139,
                                                            "fiftyFifty": 5,
                                                            "majority": 12
                                                        },
                                                        "coins": 1259,
                                                        "categoryStats": [
                                                            {
                                                                "tag": "history",
                                                                "successRate": "0,24",
                                                                "correct": 129,
                                                                "incorrect": 55
                                                            }
                                                        ]
                                                    },
                                                    "player": {
                                                        "uuid": "ff5be615-a8ad-4c33-ffcc-c7612fbf6c9f",
                                                        "alias": "azi",
                                                        "avatar": "/cdn/avatar/azi-avatar.png",
                                                        "levelSummary": {
                                                            "currentLevel": 0,
                                                            "accumulatedPoints": 14,
                                                            "pointsToNextLevel": 500
                                                        },
                                                        "powerUps": {
                                                            "life": 2,
                                                            "insurance": 18,
                                                            "joker": 139,
                                                            "fiftyFifty": 5,
                                                            "majority": 12,
                                                            "immortality": {
                                                                "isActive": true,
                                                                "validUntil": "2019-08-24T14:15:22Z"
                                                            },
                                                            "immunity": {
                                                                "isActive": true,
                                                                "validUntil": "2019-08-24T14:15:22Z"
                                                            }
                                                        },
                                                        "coins": 1259,
                                                        "categoryStats": [
                                                            {
                                                                "tag": "history",
                                                                "successRate": 0.24,
                                                                "correct": 129,
                                                                "incorrect": 55
                                                            }
                                                        ]
                                                    }
                                                },
                                                "pagination": null
                                            },
                                            "sessionToken": null,
                                            "code": "200.0000",
                                            "message": "Your request has been successfully completed."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401.Generic"
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "operationId": "get-gameplay-start-requestId",
                "description": "Use this endpoint to start/load a PVP game for a given request id. For this endpoint to function the gameplay progress of the request id must belong to the authenticated player. The result set of the response is a \"PvpMatch\" model (https://docs.bonetwork.co/bilgisavasi/pvpmatch).",
                "security": [
                    {
                        "X-Session-Token": []
                    }
                ],
                "tags": [
                    "pvp-gameplay"
                ]
            }
        },
        "/init": {
            "get": {
                "summary": "Initialize App",
                "tags": [
                    "app"
                ],
                "responses": {
                    "200": {
                        "description": "If request is susccessful, result set returns AppInit model (https://docs.bonetwork.co/bilgisavasi/appinit(/",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                },
                                "examples": {
                                    "Example-200.0000": {
                                        "value": {
                                            "result": {
                                                "set": {
                                                    "appInfo": {
                                                        "forceUpdate": false,
                                                        "defaultSettings": {
                                                            "locale": "tr-tr",
                                                            "gameEffects": true,
                                                            "gameMusic": true,
                                                            "cdnUrl": "https://tr-tr.cd.bilgisavasi.com",
                                                            "gameStartTimer": 3,
                                                            "maxTickets": 6,
                                                            "timeToRegenerateTicket": 720,
                                                            "ticketCheckInterval": 180,
                                                            "coinMultiplier": 1,
                                                            "xpMultiplier": 10
                                                        }
                                                    },
                                                    "leagueInfo": {
                                                        "leagueName": "2021 19. Hafta Ligi",
                                                        "leagueEndsAt": "2019-08-24T14:15:22Z"
                                                    }
                                                },
                                                "pagination": {
                                                    "isCircular": true,
                                                    "prevLink": "offset=9&limit=50",
                                                    "nextLink": "offset=1&limit=50",
                                                    "lastLink": "offset=10&limit=50",
                                                    "firstLink": "offset=10&limit=50",
                                                    "totalItems": 500,
                                                    "itemsPerPage": 50,
                                                    "pageCount": 1,
                                                    "currentPage": 1
                                                }
                                            },
                                            "sessionToken": "1a79a4d60de6718e8e5b326e338ae533",
                                            "code": "200.0000",
                                            "message": "Your request has been successfully completed."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "operationId": "get-init",
                "description": "This is the first endpoint you need to use. It provides you environment specifics initialization values.",
                "security": [
                    {
                        "X-Api-Key": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "name": "X-Device-Id",
                        "description": "This is generated & stored in device. It is similar to session token; except, this is generated and saved once into device memory."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "name": "X-Firebase-Token",
                        "description": "This is the unique token generated by Firebase for the device. It must be provided only if there is a value obtained from Firabse."
                    }
                ]
            },
            "parameters": []
        },
        "/player": {
            "post": {
                "summary": "Register New Player",
                "operationId": "post-player",
                "responses": {
                    "200": {
                        "description": "If successful, response's result set will return Player model (https://docs.bonetwork.co/bilgisavasi/player).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                },
                                "examples": {
                                    "Example-200.0000": {
                                        "value": {
                                            "result": {
                                                "pagination": {
                                                    "isCircular": true,
                                                    "prevLink": null,
                                                    "nextLink": null,
                                                    "lastLink": null,
                                                    "firstLink": null,
                                                    "totalItems": 1,
                                                    "itemsPerPage": 50,
                                                    "pageCount": 1,
                                                    "currentPage": 1
                                                },
                                                "set": {
                                                    "uuid": "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
                                                    "alias": "tsemmui",
                                                    "avatar": "/cdn/avatar/tsemmui-avatar.png",
                                                    "levelSummary": {
                                                        "currentLevel": 0,
                                                        "accumulatedPoints": 14,
                                                        "pointsToNextLevel": 500
                                                    },
                                                    "powerUps": {
                                                        "life": 18,
                                                        "joker": 139,
                                                        "fiftyFifty": 5,
                                                        "majority": 12
                                                    },
                                                    "coins": 1259,
                                                    "categoryStats": [
                                                        {
                                                            "tag": "history",
                                                            "successRate": "0,24",
                                                            "correct": 129,
                                                            "incorrect": 55
                                                        }
                                                    ]
                                                }
                                            },
                                            "sessionToken": "1a79a4d60de6718e8e5b326e338ae533",
                                            "code": "200.000",
                                            "message": "Your request has been successfully completed."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401.Generic"
                    },
                    "412": {
                        "$ref": "#/components/responses/412.Generic"
                    },
                    "500": {
                        "$ref": "#/components/responses/500.Generic"
                    }
                },
                "description": "Use this endpoint to create a new player record, if you cannot find a matching player record.",
                "tags": [
                    "players"
                ],
                "security": [
                    {
                        "X-Api-Key": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Player"
                            },
                            "examples": {
[...]
